<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<sectionGroup name="ranetPivotGridStorage">
			<section name="reportStorageProvider" type="Ranet.Analytics.PivotGrid.Server.Storage.FileStorageProvider,Ranet.Analytics.PivotGrid" allowLocation="true" allowDefinition="Everywhere" />
			<section name="pageStorageProvider" type="Ranet.Analytics.PivotGrid.Server.Storage.FileStorageProvider,Ranet.Analytics.PivotGrid" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>

	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<ranetPivotGridStorage>
		<reportStorageProvider rootPath="~/App_Data/UserStorage/Reports/"></reportStorageProvider>
		<pageStorageProvider rootPath="~/App_Data/UserStorage/Pages/"></pageStorageProvider>
	</ranetPivotGridStorage>


	<system.web>

		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5" maxRequestLength="2147483647"  />
	</system.web>
	<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension="woff" mimeType="application/font-woff" />
			<mimeMap fileExtension="woff2" mimeType="application/font-woff" />
		</staticContent>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="xMetropol.Core" publicKeyToken="742455a08fdd1384" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.0.103.0" newVersion="0.0.103.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ranet.Olap" publicKeyToken="6411e51d1da2afdf" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.288.0" newVersion="3.7.288.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="xMetropol.PresentationCore" publicKeyToken="742455a08fdd1384" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.0.103.0" newVersion="0.0.103.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="xMetropol.Themes" publicKeyToken="742455a08fdd1384" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.0.103.0" newVersion="0.0.103.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ranet.Olap.Core" publicKeyToken="6411e51d1da2afdf" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.300.0" newVersion="3.7.300.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ranet.Olap.Mdx" publicKeyToken="6411e51d1da2afdf" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.300.0" newVersion="3.7.300.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="xMetropol.UI" publicKeyToken="742455a08fdd1384" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.0.103.0" newVersion="0.0.103.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="ranetAnalyticsXmlFile" xsi:type="File" fileName="${basedir}/logRanetOlap.xml" archiveFileName="${basedir}/logRanetOlap_{#####}.xml" archiveAboveSize="100000000" layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=true:includeNLogData=true}" />
		</targets>
		<rules>
			<logger name="logRanetOlap" minlevel="Info" writeTo="ranetAnalyticsXmlFile" />
		</rules>
	</nlog>


</configuration>